body {
    background-color: #e7cfae;
}
.navbar {
    background-color:#422223 !important;
    padding: 10px;
}
.headshot {
    margin-bottom: 30px;
}
.about-me {
    margin-bottom: 20px;
}
footer {
    height: 40px;
    background-color: #422223 !important;
    text-align: center;
    font-size:small;
    
}